body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgba(85,245,221,1) 100.2% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.head1 {
    color: #ffffff;
    display: grid;
    
    font-size: 32px;
    font-weight: bold;
   
    justify-content: center;
}

.form1 {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-top: 100px;
    
}

.form1 label {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.form1 input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form1 input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #6a11cb;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form1 input[type="submit"]:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgba(85,245,221,1) 100.2% );
}
